body {
  background: #000;
 
  font-family: "Lucida Console", Monaco, monospace;
 

}

main {

  position: relative;
  height: 754px;
  min-height: 500px;
  width: 100%;
  background: #161415 no-repeat top center;
  background-size: cover ;
  -webkit-background-size: cover ;
  text-align: center;
  overflow: hidden;
}